* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --zorlu--main--color: linear-gradient(#d20035 0%, #ec1465 100%);

  --turktelekom--main--color: linear-gradient(
    #04b3c8 0%,
    #04afc8 37.24%,
    #008bc9 74.67%,
    #018fca 100%
  );

  --tazedirekt--main--color: linear-gradient(#06aa9c 0%, #38ef7d 100%);

  --bellona--main--color: linear-gradient(#2b21d1 0%, #006fb9 100%);

  --container-space: calc(calc(100vw - 1300px) / 2);
  font-size: 16px;
}

@media (max-width: 1600px) {
  :root {
    font-size: 14px;
  }
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: #16171b;
}

.section {
  max-height: 100vh;
  position: relative;
}

.body {
  overflow: hidden !important;
  font-family: "gilroy";
  font-weight: 500;
}

.bg-lines {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  z-index: -1;
  padding-left: 48px;
  padding-right: 48px;
}

.bg-lines__line {
  display: block;
  width: 100px;
  height: 100%;
  box-sizing: border-box;
  border-left: 1px solid rgba(112, 112, 112, 0.1);
  border-right: 1px solid rgba(112, 112, 112, 0.1);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 80px 50px;
}

.container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

.header__infoText > p {
  font-size: 12px;
  color: #373943;
}

.header__infoText > span {
  font-size: 9px;
  color: #2e344d;
}

.button_container {
  position: fixed;
  top: 83px;
  right: 50px;
  height: 27px;
  width: 35px;
  cursor: pointer;
  z-index: 999;
  transition: opacity 0.25s ease;
}
.button_container:hover {
  opacity: 0.7;
}
.button_container.active .top {
  transform: translateY(11px) translateX(0) rotate(45deg);
  background: #fff;
}
.button_container.active .middle {
  opacity: 0;
  background: #fff;
}
.button_container.active .bottom {
  transform: translateY(-11px) translateX(0) rotate(-45deg);
  background: #fff;
}
.button_container span {
  background: #16171b;
  border: none;
  height: 1px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.35s ease;
  cursor: pointer;
}
.button_container span:nth-of-type(2) {
  top: 11px;
}
.button_container span:nth-of-type(3) {
  top: 22px;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

@media (max-width: 1600px) {
  .about {
    margin-bottom: 70px;
  }
}

.name {
  font-size: 1rem;
  color: rgba(55, 57, 67, 0.7);
  font-family: "gilroy";
  font-family: 500;
}

.about__title {
  font-size: 5.6rem;
  color: #373943;
  margin: 60px 0;
  font-family: "gilroy";
  font-weight: 500;
  max-width: 760px;
}

.about__me {
  max-width: 600px;
  font-size: 1rem;
  color: rgba(55, 57, 67, 0.7);
  font-family: "gilroy";
  font-weight: 300;
}

.slidedown {
  max-width: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 175px;
}

@media (max-width: 1600px) {
  .slidedown {
    margin-bottom: 100px;
  }
}

.slidedown__text > p {
  color: rgba(55, 57, 67, 0.7);
  font-size: 0.7rem;
}

.slidedown__text > a {
  color: rgba(55, 57, 67, 0.7);
  font-size: 0.7rem;
}

.workSlider {
  position: relative;
}

.worksContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  height: 100vh;
}

.worksContent__textZone {
  max-width: 600px;
  height: 100%;
  padding: 130px 0;
}

@media (max-width: 1600px) {
  .worksContent__textZone {
    padding: 0;
  }
}

.works-svg {
  margin-bottom: 60px;
}

.worksTitle {
  font-size: 5.3rem;
  font-family: "gilroy";
  font-weight: 500;
  color: #ffff;
  margin-bottom: 20px;
}

.worksText {
  font-size: 1rem;
  font-family: "gilror";
  font-weight: 300;
  color: #fff;
  line-height: 2em;
}

.imgZone {
  width: 450px;
  height: 600px;
  object-fit: cover;
}

.imgZone > img {
  height: 100%;
}

.workContent__sliderNumber {
  display: flex;
  align-items: center;
}

.worksContent__textZone > .spanTitle {
  margin-top: 35px;
}

.worksContent__textZone > .spanTitle > span {
  color: #ffff;
}

.worksContent__textZone > .spanTitle {
  margin-top: 35px;
}

.workSlider__box {
  display: block;
  position: relative;

  left: 0;
  top: 0;
}

.bg {
  width: calc(100vw - calc(var(--container-space) + 320px));
  height: 100%;
  background: var(--zorlu--main--color);
  display: block;
  box-sizing: border-box;
  border: 1px solid var(--zorlu--main--color);
}

.bg--aqua {
  background: var(--turktelekom--main--color);
}

.bg--green {
  background: var(--tazedirekt--main--color);
}

.bg--blue {
  background: var(--bellona--main--color);
}

.spanTitle__line {
  width: 33px;
  height: 1px;
  background-color: #e43d0a;
  margin: 120px 0px 40px 0px;
}

@media (max-width: 1600px) {
  .spanTitle__line {
    margin: 40px 0px 30px 0px;
  }
}

.spanTitle > span {
  display: inline-block;
  font-size: 0.8rem;
  color: #2e344d;
  font-family: "gilroy";
  font-weight: 300;
  letter-spacing: 0.2em;
}

.profile__text {
  max-width: 1302px;
  margin: 75px 0px 100px 0px;
}

.profile__text > p {
  font-size: 2.8rem;
  color: #848484;
  font-family: "gilroy";
  font-weight: 300;
}

.profile__highlighted {
  font-size: 2.8rem;
  font-family: "Gilroy";
  font-weight: 500;
  color: #16171b;
}

.profile__numberInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.numberInfo__number {
  font-size: 2.5rem;
  color: #373943;
  font-family: "gilroy";
  font-weight: 300;
}

.numberInfo__text {
  font-size: 1.5rem;
  color: #373943;
  font-family: "gilroy";
  font-weight: 300;
}

.experience__content {
  margin: 50px 0px 110px 0px;
}

@media (max-width: 1600px) {
  .experience__content {
    margin: 5px 0px 5px 0px;
  }

  .experience__title > p {
    margin-top: 50px;
  }
}

.experience__title > p {
  color: #16171b;
  font-size: 2.8rem;
  margin-bottom: 50px;
  max-width: 870px;
  font-family: "gilroy";
  font-weight: 300;
}

.experience__text {
  font-size: 1rem;
  font-family: "gilroy";
  font-weight: 300;
  color: #16171b;
}

.swiper {
  width: 100%;
  overflow: visible !important;
}

.swiper-slide {
  text-align: center;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-slide__box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 290px !important;
  height: 290px !important;
  background-color: #fafbfc;
}

@media (max-width: 1600px) {
  .swiper-slide__box {
    width: 230px !important;
    height: 230px !important;
  }
}

.slider-wrapper {
  overflow: hidden;
  padding-left: var(--container-space);
}

.slider-nav {
  display: flex;
  justify-content: flex-end;
}

.slider-btn {
  position: static !important;
  margin: 0px 5px 0px 5px;
  width: 51px !important;
  height: 51px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #d0d0d1;
  border-radius: 50%;
}
@media (max-width: 1600px) {
  .slider-btn {
    margin-bottom: 35px;
  }
}

.contact {
  padding-top: 50px;
}

.contact__content {
  margin: 50px 0px 110px 0px;
}

.contact-text {
  color: #16171b;
  font-size: 2.8rem;
  margin-bottom: 50px;
  max-width: 1200px;
  font-family: "gilroy";
  font-weight: 300;
}

.contact__btnBox {
  margin: 100px 0;
}

.btnbox__btn {
  width: 260px;
  height: 60px;
  border: 1px solid #16171b;

  color: #16171b;
  font-size: 0.8rem;
  font-family: "gilroy";
  font-weight: 300;
  background-color: transparent;
  position: relative;
  box-sizing: border-box;
}

.btnbox__btn--white {
  width: 260px;
  height: 60px;
  border: 1px solid #fff;
  color: #fff;
  font-size: 0.8rem;
  font-family: "gilroy";
  font-weight: 300;
  background-color: transparent;
  position: relative;
  box-sizing: border-box;
}

.mr {
  margin-right: 50px;
}

.btnbox__btn--white::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #fff;
  transition: height 0.3s ease-in-out;
  z-index: -1;
}

.btnbox__btn--white:hover::after {
  height: 100%;
}

.btnbox__btn::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #16171b;
  transition: height 0.3s ease-in-out;
  z-index: -1;
}

.btnbox__btn--white:hover {
  transition: 0.5s;
  color: #16171b;
}

.btnbox__btn:hover {
  color: #fff;
}

.btnbox__btn:hover::after {
  height: 100%;
  width: 100%;
}

.contact__followText {
  font-size: 1rem;
  font-family: "Gilroy";
  font-weight: 300;
}

.highlighted__contact {
  font-size: 1rem;
  font-family: "Gilroy";
  font-weight: 500;
  color: #373943;
  transition: color 0.3s linear;
}

.highlighted__contact:hover {
  color: red;
  text-decoration: underline;
}

.scrolling-box {
  overflow: hidden;
}

.scrolling-box__wrapper {
  transition: transform 0.7s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  height: 400%;
}

.scrolling-box__wrapper > * {
  height: 25%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.scrolling-box--content {
  height: 230px;
  margin-bottom: 100px;
}

.scrolling-box--number {
  height: 20px;
}

.counter {
  display: flex;
  align-items: center;
}

.counter__from {
  font-size: 1.5rem;
  font-family: "gilroy";
  font-weight: 900;
  color: #ffff;
}

.counter__seperator {
  font-size: 0.8rem;
  font-family: "gilroy";
  font-weight: 500;
  color: #ffff;
  margin: 0 5px;
}

.counter__to {
  font-size: 0.8rem;
  font-family: "gilroy";
  font-weight: 300;
  color: rgba(255, 255, 255, 0.5);
}

.scrolling-box--bg {
  height: 100vh;
  top: 0;
  position: absolute;
  z-index: -2;
}

.scrolling-box--bg > .scrolling-box__wrapper {
  transition: transform 0.5s linear;
}

.scrolling-box--content > .scrolling-box__wrapper {
  transition-delay: 0.1s;
}

.scrolling-box--image {
  height: 590px;
}

.slide-scrolling {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
}

.fp-slidesContainer {
  transition: none !important;
  transform: translate(0, 0) !important;
}
